.one{
    border: 2px solid red;
    height: 170px;
    width: 170px;
    background-color: blueviolet;
}

.one:hover{
    border-radius: 200px;
    background-color: bisque;
}

.main{
    border: 3px solid black;
    height: 330px;
    width: 740px;
}

.first1
,.first2,.first3,.first4,.first5,.first6{
    border: 2px solid red;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: aqua;
}
.main:hover{
    .first1{
        transition-duration: 3s;
        transition-timing-function: ease-in-out;
        margin-left: 690px;
        background-color: aquamarine;
    }
    .first2{
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
        margin-left: 690px;
        background-color: black;
    }
    .first3{
        transition-duration: 2s;
        transition-timing-function: ease-in-out;
        margin-left: 690px;
        background-color: red;
    }
    .first4{
        transition-duration: 4s;
        transition-timing-function: ease-in-out;
        margin-left: 690px;
        background-color: blue;
    }
    .first5{
        transition-duration: 2.5s;
        transition-timing-function: ease-in-out;
        margin-left: 690px;
        background-color: yellow;
    }
    .first6{
        transition-duration: 5s;
        transition-timing-function: ease-in-out;
        margin-left: 690px;
        background-color: pink;}}